* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
li {
	list-style: none;
}
body {
	background: #eee;
    font-family: "Inter", sans-serif;
}

/* SIDENAR */

/* - completo - */ 
#Sidenav {
	/* ativa a flex box. */
    display: flex;
	/* ajusta a direção dos elemntos dentro de uma flex box */
    flex-direction: column;
	/* fixa o elemnto na janela */
	position: fixed;
	top: 0;
	left: 0;
	width: 280px;
	height: 100%;
	background: #F9F9F9;
	/* cria como se fossem camadas em relação aos  elementos */
	z-index: 2000;
	font-family: "Inter", sans-serif;
	transition: .3s ease;
	overflow-x: hidden;
	border-right: 1px solid rgb(218, 220, 224);
}
#Sidenav::--webkit-scrollbar {
	display: none;
}

/* - topo - */ 
#Sidenav .Laguna {
	font-size: 24px;
	font-weight: 700;
	height: 56px;
	display: flex;
	align-items: center;
    font-family: "Playfair Display", serif;
    text-shadow: 1px 1px 2px rgb(199, 199, 199);
	color: rgb(37, 36, 36);
	position: sticky;
	top: 0;
	left: 0;
	z-index: 500;
	padding-bottom: 20px;
	/* calcula a altura e largura com base no conteudo da caixa */
	box-sizing: content-box;
}
#Sidenav .Laguna .fa-solid {
	min-width: 60px;
	display: flex;
	/* alinha os itens dentro de uma flex box */
	justify-content: center;
}

/* - Itens - */ 
#Sidenav .Menu_lateral {
	width: 100%;
	margin-top: 48px;
}
#Sidenav .Menu_lateral.cima {
    width: 100%;
    margin-top: 48px;
    /* define a capacidade de um item flexível de crescer para ocupar o espaço disponível no container flex */
    flex-grow: 1; 
}
#Sidenav .Menu_lateral li {
	height: 48px;
	background: transparent;
	margin-left: 6px;
	border-radius: 48px 0 0 48px;
	padding: 4px;
	position: relative;
	left: -10px;
}
#Sidenav .Menu_lateral li a {
	width: 100%;
	height: 100%;
	background: #F9F9F9;
	display: flex;
	align-items: center;
	border-radius: 48px;
	font-size: 16px;
	color: #565457;
	/* define a quebra de linha, no caso desse não permite */
	white-space: nowrap;
	overflow-x: hidden;
	left: 10px;
}
#Sidenav .Menu_lateral li a .fa-solid {
	min-width: calc(60px - ((4px + 6px) * 2));
	display: flex;
	justify-content: flex-start;
	position: relative;
	left: 10px;

}
#Sidenav .Menu_lateral li a span {
	position: relative;
	display: flex;
	justify-content: center;
}
#Sidenav .Menu_lateral li a.Sair {
	color: #DB504A; 
}

/* - interação (ativo) - */ 
#Sidenav .Menu_lateral .Itens.ativo a {
	border-radius: 0 2rem 2rem 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    right: .5rem;
    top: 0;
    z-index: -1;
	background: #DAEBFF;
}

#Sidenav .Menu_lateral li.ativo .Grande {
    color: #3C91E6;
}


/* - interação (escondido) - */ 
#Sidenav.escondido {
	width: 60px;
}
#Sidenav.escondido .Menu_lateral li a {
	width: calc(48px - (4px * 2));
	transition: width .3s ease;
}

/* - interação (hover) - */ 
#Sidenav .Menu_lateral.cima li a:hover {
	border-radius: 0 2rem 2rem 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    right: .5rem;
    top: 0;
    z-index: -1;
	background: rgb(235, 241, 247);
}

/* - Interação (subitens) - */ 
.Submenu {
    display: none; 
}
.showCollapse {
    display: block;
}
.Submenu li {
    width: 100%; 
}
.Submenu li a {
    width: 100%; /* Faz o link do subitem ocupar toda a largura */
    display: flex;
    align-items: center;
}
.Submenu li.ativo {
    background: #eee; 
    color: #3C91E6; 
}
.rotate{
	transform: rotate(180deg);
}

/* SIDENAV */



/* CONTEUDO */
#Conteudo {
	position: relative;
	width: calc(100% - 280px);
	left: 280px;
	transition: .3s ease;
}
#Sidenav.escondido ~ #Conteudo {
	width: calc(100% - 60px);
	left: 60px;
}

/* HEADER */
header {
	height: 56px;
	background: #F9F9F9;
	padding: 0 24px;
	display: flex;
	align-items: center;
	grid-gap: 24px;
	font-family: "Inter", sans-serif;
	/* gruda na janela */
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1000;
	border-bottom: 1px solid rgb(218, 220, 224);
}

header a {
	color: #342E37;
}
/* HEADER */

/* MAIN */

/* cabeçario do conteudo */
#Conteudo main {
	width: 100%;
	padding: 36px 24px;
	font-family: "Inter", sans-serif;
	max-height: calc(100vh - 56px);
}
#Conteudo main .Titulo {
	display: flex;
	align-items: center;
	justify-content: center;
	grid-gap: 16px;
	flex-wrap: wrap;
	font-weight: 600;
	margin-bottom: 10px;
	color: #0f2663;
}




.Organização {
	display: flex;
	flex-wrap: wrap;
	grid-gap: 24px;
	margin-top: 24px;
	width: 100%;
	justify-content: center;
}
.Agenda {
	width: 50%;
	border-radius: 20px;
	padding: 24px;
	overflow-x: auto;
}
.Calendario {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	color: #878895;
	border-radius: 20px;
	background-color: #F9F9F9;
}
.Calendario .mes {
	width: 100%;
	height: 150px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 50px;
	font-size: 1.2rem;
	font-weight: 500;
	text-transform: capitalize;
}
.Calendario .mes .prev,
.Calendario .mes .next {
	cursor: pointer;
}
.Calendario .semanas {
	width: 100%;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 20px;
	font-size: 1rem;
	font-weight: 500;
	text-transform: capitalize;
}
.semanas div {
	width: 14.28%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.Calendario .dias {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding: 0 20px;
	font-size: 1rem;
	font-weight: 500;
	margin-bottom: 20px;
}
.Calendario .dias .day {
	width: 14.28%;
	height: 90px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	color: #3C91E6;;
	border: 1px solid #f5f5f5;
}
.Calendario .dias .day:not(.prev-date, .next-date):hover {
	color: #fff;
	background-color: #3C91E6;;
}
.Calendario .dias .prev-date,
.Calendario .dias .next-date {
	color: #b3b3b3;
}
.Calendario .dias .active {
	position: relative;
	font-size: 2rem;
	color: #fff;
	background-color: #3C91E6;;
}
.Calendario .dias .active::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-shadow: 0 0 5px 2px #3C91E6;;
}
.Calendario .dias .today {
	font-size: 2rem;
}
.Calendario .dias .event {
	position: relative;
}
.Calendario .dias .event::after {
	content: "";
	position: absolute;
	bottom: 10%;
	left: 50%;
	width: 75%;
	height: 6px;
	border-radius: 30px;
	transform: translateX(-50%);
	background-color: #3C91E6;;
}
.Calendario .dias .day:hover.event::after {
	background-color: #fff;
}
.Calendario .dias .active.event::after {
	background-color: #fff;
	bottom: 20%;
}
.Calendario .dias .active.event {
	padding-bottom: 10px;
}
.Calendario .goto-today {
	width: 100%;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 5px;
	padding: 0 20px;
	margin-bottom: 20px;
	color: #3C91E6;;
}
.Calendario .goto-today .goto {
	display: flex;
	align-items: center;
	border-radius: 5px;
	overflow: hidden;
	border: 1px solid #3C91E6;;
}
.Calendario .goto-today .goto input {
	width: 100%;
	height: 30px;
	outline: none;
	border: none;
	border-radius: 5px;
	padding: 0 20px;
	color: #3C91E6;;
	border-radius: 5px;
}
.Calendario .goto-today button {
	padding: 5px 10px;
	border: 1px solid #3C91E6;;
	border-radius: 5px;
	background-color: transparent;
	cursor: pointer;
	color: #3C91E6;;
}
.Calendario .goto-today button:hover {
	color: #fff;
	background-color: #3C91E6;
}
.Calendario .goto-today .goto button {
	border: none;
	border-left: 1px solid #3C91E6;
	border-radius: 0;
}




.Organização .Descrição {
	position: relative;
	width: 97%;
	min-height: 100%;
	border-radius: 20px;
	padding: 24px;
	overflow-x: auto;
	background-color: #F9F9F9;
}

.Organização .Descrição::-webkit-scrollbar {
	width: 5px;               
}
.Organização .Descrição::-webkit-scrollbar-thumb {
	background-color: #3C91E6  ;
	border-radius: 20px;       
}
.Descrição .today-date {
	width: 100%;
	height: 50px;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	justify-content: space-between;
	padding: 0 40px;
	padding-left: 70px;
	margin-top: 50px;
	margin-bottom: 20px;
	text-transform: capitalize;
}
.Descrição .today-date .event-day {
	font-size: 2rem;
	color: #393942;
	font-family: "Inter", sans-serif;
}
.Descrição .today-date .event-date {
	font-size: 1rem;
	font-weight: 400;
	color: #878895;
}
.events {
	width: 100%;
	height: 100%;
	max-height: 600px;
	overflow-x: hidden;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	padding-left: 4px;
}
.events .event {
	position: relative;
	width: 95%;
	min-height: 70px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 5px;
	padding: 0 20px;
	padding-left: 50px;
	color: #fff;
	background: linear-gradient(90deg, #3f4458, transparent);
	cursor: pointer;
}

.events .event:nth-child(even) {
	background: transparent;
}
.events .event:hover {
	background: linear-gradient(90deg, #3C91E6, transparent);
}
.events .event .title {
	display: flex;
	align-items: center;
	pointer-events: none;
}
.events .event .title .event-title {
	font-size: 1rem;
	font-weight: 400;
	margin-left: 20px;
}
.events .event i {
	color: #3C91E6;;
	font-size: 0.5rem;
}
.events .event:hover i {
	color: #fff;
}
.events .event .event-time {
	font-size: 0.8rem;
	font-weight: 400;
	color: #878895;
	margin-left: 15px;
	pointer-events: none;
}
.events .event:hover .event-time {
	color: #fff;
}
  /* add tick in event after */
.events .event::after {
	content: "✓";
	position: absolute;
	top: 50%;
	right: 0;
	font-size: 3rem;
	line-height: 1;
	display: none;
	align-items: center;
	justify-content: center;
	opacity: 0.3;
	color: #3C91E6;
	transform: translateY(-50%);
}
.events .event:hover::after {
	display: flex;
}
.add-event {
	position: absolute;
	bottom: 30px;
	right: 30px;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1rem;
	color: #878895;
	border: 2px solid #878895;
	opacity: 0.5;
	border-radius: 50%;
	background-color: transparent;
	cursor: pointer;
}
.add-event:hover {
	opacity: 1;
}
.add-event i {
	pointer-events: none;
}
.events .no-event {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.5rem;
	font-weight: 500;
	color: #878895;
}



.add-event-wrapper {
	position: absolute;
	bottom: 100px;
	left: 50%;
	width: 90%;
	max-height: 0;
	overflow: hidden;
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.884);
	transform: translateX(-50%);
	transition: max-height 0.5s ease;
}
.add-event-wrapper.active {
	max-height: 300px;
}
.add-event-header {
	width: 100%;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 20px;
	color: #373c4f;
	border-bottom: 1px solid #f5f5f5;
}
.add-event-header .close {
	font-size: 1.5rem;
	cursor: pointer;
}
.add-event-header .close:hover {
	color: #3C91E6;;
}
.add-event-header .title {
	font-size: 1.2rem;
	font-weight: 500;
}

/* tele que adiciona o evento */

.add-event-body {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 5px;
	padding: 20px;
	border: 2px solid #3C91E6;
}

.add-event-body .add-event-input {
	width: 100%;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
}

  .add-event-body .add-event-input input {
	width: 100%;
	height: 100%;
	outline: none;
	border: none;
	border-bottom: 1px solid #f5f5f5;
	padding: 0 10px;
	font-size: 1rem;
	font-weight: 400;
	color: #373c4f;
  }
  .add-event-body .add-event-input input::placeholder {
	color: #a5a5a5;
  }
  .add-event-body .add-event-input input:focus {
	border-bottom: 1px solid #3C91E6;;
  }
  .add-event-body .add-event-input input:focus::placeholder {
	color: #3C91E6;;
  }
  .add-event-footer {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
  }
  .add-event-footer .add-event-btn {
	height: 40px;
	font-size: 1rem;
	font-weight: 500;
	outline: none;
	border: none;
	color: #fff;
	background-color: #3C91E6;;
	border-radius: 5px;
	cursor: pointer;
	padding: 5px 10px;
	border: 1px solid #3C91E6;;
  }
  .add-event-footer .add-event-btn:hover {
	background-color: transparent;
	color: #3C91E6;;
  }

  .rodape{
	height: 30px;
  }
/* MAIN */
/* CONTEUDO */








@media screen and (max-width: 768px) {
	#Sidenav {
		width: 200px;
	}

	#Conteudo {
		width: calc(100% - 60px);
		left: 200px;
	}

	header .nav-link {
		display: none;
	}
}






@media screen and (max-width: 576px) {
	header form .form-input input {
		display: none;
	}

	header form .form-input button {
		width: auto;
		height: auto;
		background: transparent;
		border-radius: none;
		color: #342E37;
	}

	header form.show .form-input input {
		display: block;
		width: 100%;
	}
	header form.show .form-input button {
		width: 36px;
		height: 100%;
		border-radius: 0 36px 36px 0;
		color: #F9F9F9;
		background: #DB504A;
	}

	header form.show ~ .notification,
	header form.show ~ .profile {
		display: none;
	}

	#Conteudo main .box-info {
		grid-template-columns: 1fr;
	}

	#Conteudo main .table-data .Titulo {
		min-width: 420px;
	}
	#Conteudo main .table-data .Agenda table {
		min-width: 420px;
	}
	#Conteudo main .table-data .todo .todo-list {
		min-width: 420px;
	}
}
