/* Inteiro */
* {
    padding: 0; 
    margin: 0;
}
body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #ecf0ff;


}
ul{
    list-style: none;
}
a {
    text-decoration: none;
}
.estrutura {
    display: grid;
    grid-template-columns: 1fr 3fr  1fr;
    grid-template-areas: 
        'header header header'
        'sidenav content content'
        'footer footer footer'
    ;
}


/* Cabeça */
.header {
    grid-area: header;
    background-color: #ffffff;
    padding: 20px 20px; 
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    border: 1px solid #CFCFCF;
    border-top: 0px;
}
.logo {
    max-width: 180px;
    position:absolute;
    top: 8px;
    left: 60px;
}
.perfil{
    max-width: 180px;
    position:absolute;
    top: 8px;
    left: 1840px;
    width: 50px;
}


/* Menu de lado */
.sidenav {
    grid-area: sidenav;
    width: 260px;
    height: 875px; 
    background-color: #ffffff;
    padding: 0; 
    border-right: 1px solid #CFCFCF;
    transition: width 0.3s;
}
#sidenav_conteudo {
    padding: 12px;
}
.sidenav ul li {
    display: flex;  
    padding: 25px 20px; 
    transition: background 0.3s;
    border-radius: 10px;
}
.sidenav ul li:hover {
    border-radius: 10px;
    background-color: #DAEBFF; 
}
.sidenav ul li a {
    color: rgb(0, 0, 0);
    display: block;
    width: 100%; 
}
#Minhas {
    border-bottom: 1px solid #CFCFCF; 
}


/* Conteudo */
.conteudo {
    grid-area: content;
    background-color: #ffffff; 
    position: absolute;
    top: 100px;
    left: 290px; 
    width: calc(100% - 320px); 
    height: 805px; 
    border-radius: 30px;
    box-shadow: 2px 2px 5px #dfdede;
    transition: left 0.3s, width 0.3s;
}
.calendario h1 {
    color: #123286;
    font-size: 20px;
    position:absolute;
    top: 40px;
    left: 40px;
}
.controles {
    width: 30px; 
    margin: 10px 0;
    position:absolute;
    top: 40px;
    left: 1400px;
}
#setaVoltar {
    background-color: transparent; 
    border: none;
    cursor: pointer;
    margin: 10px 0;
    position:absolute;
    top: 20px;
    left: 100px;
}
#setaProximo {
    background-color: transparent; 
    border: none;
    cursor: pointer;
    position:absolute;
    margin: 10px 0;
    top: 21px;
    left: 30px;
}
#setabaixo{
    background-color: transparent; 
    border: none;
    cursor: pointer;
}
select {
    position:absolute;
    border-radius: 7px;
    border-color: #CFCFCF;
    height: 35px;
    width: 88px;
    color: #123286;
    font-weight: bold;
    top: 40px;
    left: -1358px;
}
#ano {
    position:absolute;
    top: 40px;
    left: -1255px;
}
.semana {
    font-size: 23px;
    color: #909090;
    position:absolute;
    top: 140px;
    left: 25px;
    margin: 20px 0; 
}
.semana div {
    padding: 25px; 
    border: none; 
    margin: 0 5px;
}
.conteudo a button{
    background-color: transparent; 
    border: 1px solid #CFCFCF;
    border-radius: 7px;
    cursor: pointer;
    width: 1530px;
    height: 40px;
    position:absolute;
    top: 750px;
    left: 45px;
    color: #123286;
    font-weight: bold;
    font-size: 18px;
}


/* Java Script */
.fechar-sidenav {
    width: 80px; 
    overflow: hidden;
    transition: width 0.3s;
}
.expandir-conteudo {
    left: 100px; 
    width: calc(100% - 120px); 
}
.sidenav ul li span {
    transition: opacity 0.3s;
    opacity: 1;
}

.fechar-sidenav ul li span{
    opacity: 0; 
    visibility: hidden;
}
