/* Conteudo */
#Conteudo {
	position: relative;
	width: calc(100% - 280px);
	left: 280px;
	transition: .3s ease;
}
#sidebar.hide ~ #Conteudo {
	width: calc(100% - 60px);
	left: 60px;
}




/* HEADER */
header {
	height: 56px;
	background: #F9F9F9;
	padding: 0 24px;
	display: flex;
	align-items: center;
	grid-gap: 24px;
	font-family: "Inter", sans-serif;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1000;
	border-bottom: 1px solid rgb(218, 220, 224);
}

header a {
	color: #342E37;
}
/* HEADER */





/* MAIN */
#Conteudo main {
	width: 100%;
	padding: 36px 24px;
	font-family: var(--poppins);
	max-height: calc(100vh - 56px);
	overflow-y: auto;
}
#Conteudo main .head-title {
	display: flex;
	align-items: center;
	justify-Conteudo: space-between;
	grid-gap: 16px;
	flex-wrap: wrap;
}
#Conteudo main .head-title .left h1 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	color:#342E37;
}
#Conteudo main .head-title .left .breadcrumb {
	display: flex;
	align-items: center;
	grid-gap: 16px;
}
#Conteudo main .head-title .left .breadcrumb li {
	color:#342E37;
}
#Conteudo main .head-title .left .breadcrumb li a {
	color:#AAAAAA;
	pointer-events: none;
}
#Conteudo main .head-title .left .breadcrumb li a.active {
	color:#3C91E6;
	pointer-events: unset;
}
#Conteudo main .head-title .btn-download {
	height: 36px;
	padding: 0 16px;
	border-radius: 36px;
	background:#3C91E6;
	color:#F9F9F9;
	display: flex;
	justify-Conteudo: center;
	align-items: center;
	grid-gap: 10px;
	font-weight: 500;
}




#Conteudo main .box-info {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	grid-gap: 24px;
	margin-top: 75px;
}
#Conteudo main .box-info li {
	padding: 24px;
	background:#F9F9F9;
	border-radius: 20px;
	display: flex;
	align-items: center;
	grid-gap: 24px;
}
#Conteudo main .box-info li .bx {
	width: 80px;
	height: 80px;
	border-radius: 10px;
	font-size: 36px;
	display: flex;
	justify-Conteudo: center;
	align-items: center;
}
#Conteudo main .box-info li:nth-child(1) .bx {
	background:#CFE8FF;
	color:#3C91E6;
}
#Conteudo main .box-info li:nth-child(2) .bx {
	background:#FFF2C6;
	color:#FFCE26;
}
#Conteudo main .box-info li:nth-child(3) .bx {
	background:#CFE8FF;
	color:#3C91E6;
}
#Conteudo main .box-info li .text h3 {
	font-size: 24px;
	font-weight: 600;
	color:#342E37;
}
#Conteudo main .box-info li .text p {
	color:#342E37;	
}





#Conteudo main .table-data {
	display: flex;
	flex-wrap: wrap;
	grid-gap: 24px;
	margin-top: 24px;
	width: 100%;
	color:#342E37;
}
#Conteudo main .table-data > div {
	border-radius: 20px;
	background:#F9F9F9;
	padding: 24px;
	overflow-x: auto;
}
#Conteudo main .table-data .head {
	display: flex;
	align-items: center;
	grid-gap: 16px;
	margin-bottom: 24px;
}
#Conteudo main .table-data .head h3 {
	margin-right: auto;
	font-size: 24px;
	font-weight: 600;
}
#Conteudo main .table-data .head .bx {
	cursor: pointer;
}

#Conteudo main .table-data .order {
	flex-grow: 1;
	flex-basis: 500px;
}
#Conteudo main .table-data .order table {
	width: 100%;
	border-collapse: collapse;
}
#Conteudo main .table-data .order table th {
	padding-bottom: 12px;
	font-size: 13px;
	text-align: left;
	border-bottom: 1px solid#eee;
}
#Conteudo main .table-data .order table td {
	padding: 16px 0;
}
#Conteudo main .table-data .order table tr td:first-child {
	display: flex;
	align-items: center;
	grid-gap: 12px;
	padding-left: 6px;
}
#Conteudo main .table-data .order table td img {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	object-fit: cover;
}
#Conteudo main .table-data .order table tbody tr:hover {
	background:#eee;
}
#Conteudo main .table-data .order table tr td .status {
	font-size: 10px;
	padding: 6px 16px;
	color:#F9F9F9;
	border-radius: 20px;
	font-weight: 700;
}
#Conteudo main .table-data .order table tr td .status.completed {
	background:#3C91E6;
}
#Conteudo main .table-data .order table tr td .status.process {
	background:#FFCE26;
}
#Conteudo main .table-data .order table tr td .status.pending {
	background:#FFCE26;
}


#Conteudo main .table-data .todo {
	flex-grow: 1;
	flex-basis: 300px;
}
#Conteudo main .table-data .todo .todo-list {
	width: 100%;
}
#Conteudo main .table-data .todo .todo-list li {
	width: 100%;
	margin-bottom: 16px;
	background:#eee;
	border-radius: 10px;
	padding: 14px 20px;
	display: flex;
	justify-Conteudo: space-between;
	align-items: center;
}
#Conteudo main .table-data .todo .todo-list li .bx {
	cursor: pointer;
}
#Conteudo main .table-data .todo .todo-list li.completed {
	border-left: 10px solid#3C91E6;
}
#Conteudo main .table-data .todo .todo-list li.not-completed {
	border-left: 10px solid#ffd650;
}
#Conteudo main .table-data .todo .todo-list li:last-child {
	margin-bottom: 0;
}
/* MAIN */
/* Conteudo */









@media screen and (max-width: 768px) {
	#sidebar {
		width: 200px;
	}

	#Conteudo {
		width: calc(100% - 60px);
		left: 200px;
	}

	#Conteudo nav .nav-link {
		display: none;
	}
}






@media screen and (max-width: 576px) {
	#Conteudo nav form .form-input input {
		display: none;
	}

	#Conteudo nav form .form-input button {
		width: auto;
		height: auto;
		background: transparent;
		border-radius: none;
		color:#342E37;
	}

	#Conteudo nav form.show .form-input input {
		display: block;
		width: 100%;
	}
	#Conteudo nav form.show .form-input button {
		width: 36px;
		height: 100%;
		border-radius: 0 36px 36px 0;
		color:#F9F9F9;
		background:#DB504A;
	}

	#Conteudo nav form.show ~ .notification,
	#Conteudo nav form.show ~ .profile {
		display: none;
	}

	#Conteudo main .box-info {
		grid-template-columns: 1fr;
	}

	#Conteudo main .table-data .head {
		min-width: 420px;
	}
	#Conteudo main .table-data .order table {
		min-width: 420px;
	}
	#Conteudo main .table-data .todo .todo-list {
		min-width: 420px;
	}
}



