@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
li {
	list-style: none;
}
body {
	background: #e0e9f1;
    font-family: "Inter", sans-serif;
	overflow-x: hidden;
}


/* SIDENAR */
/* - completo - */ 
#Sidenav {
    display: flex;
    flex-direction: column;
	position: fixed;
	top: 0;
	left: 0;
	width: 280px;
	height: 100%;
	background: #F9F9F9;
	z-index: 2000;
	font-family: "Inter", sans-serif;
	transition: .3s ease;
	overflow-x: hidden;
	border-right: 1px solid rgb(218, 220, 224);
}

/* - topo - */ 
#Sidenav .Laguna {
	font-size: 24px;
	font-weight: 700;
	height: 56px;
	display: flex;
	align-items: center;
    font-family: "Playfair Display", serif;
    text-shadow: 1px 1px 2px rgb(199, 199, 199);
	color: rgb(37, 36, 36);
	position: sticky;
	top: 0;
	left: 0;
	z-index: 500;
	padding-bottom: 20px;
	box-sizing: content-box;
}
#Sidenav .Laguna .fa-solid {
	min-width: 60px;
	display: flex;
	justify-content: center;
}

/* - Itens - */ 
#Sidenav .Menu_lateral {
	width: 100%;
	margin-top: 48px;
}
#Sidenav .Menu_lateral.cima {
    width: 100%;
    margin-top: 48px;
    /* (define a capacidade de um item flexível de crescer para ocupar o espaço disponível no container flex) */
    flex-grow: 1; 
}
#Sidenav .Menu_lateral li {
	height: 48px;
	background: transparent;
	margin-left: 6px;
	border-radius: 48px 0 0 48px;
	padding: 4px;
	position: relative;
	left: -10px;
}
#Sidenav .Menu_lateral li a {
	width: 100%;
	height: 100%;
	background: #F9F9F9;
	display: flex;
	align-items: center;
	border-radius: 48px;
	font-size: 16px;
	color: #5a5a5a;
	white-space: nowrap;
	overflow-x: hidden;
	left: 10px;
}
#Sidenav .Menu_lateral li a .fa-solid {
	min-width: calc(60px - ((4px + 6px) * 2));
	display: flex;
	justify-content: flex-start;
	position: relative;
	left: 10px;

}
#Sidenav .Menu_lateral li a span {
	position: relative;
	display: flex;
	justify-content: center;
}
#Sidenav .Menu_lateral li a.Sair {
	color: #DB504A; 
}

/* - interação (ativo) - */ 
#Sidenav .Menu_lateral .Itens.ativo a {
	border-radius: 0 2rem 2rem 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    right: .5rem;
    top: 0;
    z-index: -1;
	background: #DAEBFF;
}
#Sidenav .Menu_lateral li.ativo .Grande {
    border-radius: 0 2rem 2rem 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    right: .5rem;
    top: 0;
    z-index: -1;
	background: #DAEBFF;
}

/* - interação (escondido) - */ 
#Sidenav.escondido {
	width: 60px;
}
#Sidenav.escondido .Menu_lateral li a {
	width: calc(48px - (4px * 2));
	transition: width .3s ease;
}

/* - interação (hover) - */ 
#Sidenav .Menu_lateral.cima li a:hover {
	border-radius: 0 2rem 2rem 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    right: .5rem;
    top: 0;
    z-index: -1;
	background: rgb(235, 241, 247);
}
#Sidenav .Menu_lateral .Sair:hover {
	border-radius: 0 2rem 2rem 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    right: .5rem;
    top: 0;
    z-index: -1;
	background: rgb(245, 232, 232);
}

/* - Interação (subitens) - */ 
.Submenu {
    display: none; 
}
.showCollapse {
    display: block;
}
.Submenu li {
    width: 100%; 
}
.Submenu li a {
    width: 100%; 
    display: flex;
    align-items: center;
}
.Submenu li.ativo {
    background: #eee; 
    color: #3C91E6; 
}
.rotate{
	transform: rotate(180deg);
}
/* SIDENAV */


/* CONTEUDO */
#Conteudo {
	position: relative;
	width: calc(100% - 280px);
	left: 280px;
	transition: .3s ease;
}
#Sidenav.escondido ~ #Conteudo {
	width: calc(100% - 60px);
	left: 60px;
}

/* HEADER */
header {
	height: 56px;
	background: #F9F9F9;
	padding: 0 24px;
	display: flex;
	align-items: center;
	grid-gap: 24px;
	font-family: "Inter", sans-serif;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 2005;
	border-bottom: 1px solid rgb(218, 220, 224);
}

header a {
	color: #342E37;
}
/* HEADER */
#Conteudo main {
	width: 100%;
	padding: 36px 24px;
	font-family: "Inter", sans-serif;
	max-height: calc(100vh - 56px);
}

/* todo o quadro */
.orga {
	display: flex;
	flex-wrap: wrap;
	grid-gap: 24px;
	margin-bottom: 10px;
	border-radius: 20px;
}
#Conteudo main .orga #imgkid,#Conteudo main .orga .bolinha  {
	padding: 24px;
	overflow-x: auto;
}
/*imagem*/
#imgkid img{
    display: flex;
    position:absolute;
    width: 98%;
    height: 135%;
    top: 70px;
    left: 15px;
    z-index: 1000;
}
#imgkid span{
    position: absolute;
    z-index: 2000;
    top: 610px;
    left: 35%;
    font-size: 60px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #ffffff;
    text-shadow: 1px 1px 3px rgb(199, 199, 199);
    font-family: "Poppins", sans-serif;
}
.bolinha {
    display: flex;               
    justify-content: center; 
    align-items: center;        
    z-index: 2001;
    background-color: #F9F9F9;
    position: relative;
    top: 535px;
    width: 100%;
    height: 7%;
    border-radius: 15px;
}


.info {
    justify-content: center;
    background-color: #6CA8E5;
    padding: 18px;
    border-radius: 50px;
    WIDTH: 100px;
    
}

.bolinha ul {
    display: flex;          /* Alinha os <li> na horizontal */
    padding: 0;             /* Remove qualquer preenchimento da lista */
    margin: 0;              /* Remove a margem da lista */
    
}

.bolinha li {
    margin-right: 250px;     /* Adiciona um espaçamento entre os itens */
    display: flex;          /* Garante que o conteúdo dentro do li também seja alinhado horizontalmente */
    flex-direction: column; /* Alinha os elementos dentro do <li> em uma coluna */
    align-items: center;    /* Centraliza o conteúdo dentro de cada <li> */
}

.bolinha li:last-child {
    margin-right: 0; /* Remove o espaçamento do último item */
}
.bolinha li span {
    font-family: "Poppins", sans-serif;
}
