@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('Img/360_F_550334715_0d2cdaljV4Xd3x7yVUhRxfmLLEUyMdXr.jpg')no-repeat;
  background-size: cover;
  background-position: ceter;
}
.wrapper{

  width: 420px;
  height: 430px;
  background: transparent;
  border:2px solid rgba(255,255,255, .2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  color:#fff;
  border-radius: 10px;
  padding: 30px 40px;

}
.wrapper h1{

  font-size: 36px;
  text-align: center;
}
.wrapper .input-box{
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;

}
.input-box input{
  width: 100%;
  height: 100%;
  background: transparent;
  border:none;
  outline: none;
  border:2px solid rgba(255,255,255, .2);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}
.input-box input::placeholder{
  color: #fff;
}
.input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform:translateY(-50%);
  font-size:20px;
}
.wrapper .lembre-me{
  display:flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
}
.Lembre-me{
  accent-color: #fff;
  margin-right: 3%;
}
.Lembre-me a {
  position: absolute;
  color: #fff;
  text-decoration: none;
  white-space: nowrap;
  top: 20;
  left: 32% ;
  
}
.Lembre-me a:hover{
  text-decoration:underline ;
}
.wrapper .bnt{
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
  position: relative;
  top: 30px;
 }
 .videoo {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Faz o vídeo cobrir a tela inteira, mantendo a proporção */
  z-index: -100;
 }
